@import "tailwindcss";

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }

  button {
    cursor: pointer;
  }
}

/* // RESET rc-pagination */
.rc-pagination {
  all: unset;
  display: flex;
  gap: 4px;
}

.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  all: unset;
}

.rc-pagination-item a,
.rc-pagination-prev a,
.rc-pagination-next a,
.rc-pagination-jump-prev a,
.rc-pagination-jump-next a {
  all: unset;
}